
.valine-wrapper #valine.v .vwrap, .valine-wrapper #valine.v .vwrap .vcontrol .vsubmit {
    background-color rgba(27, 31, 35, 0.05)
}

.valine-wrapper #valine.v .vlist .vh .vcontent {
    background-color rgba(27, 31, 35, 0.05)
}

.v .vlist .vcard .vhead .vnick:hover {
    color: #d7191a;
}

.valine-wrapper #valine.v .vlist .vh .vcontent {
    background: rgba(27,31,35,.05);
    border-radius: .25rem;
    margin: 0 .3rem;
    padding: .1rem .6rem .05rem;
}

.v .vlist .vcard .vcontent {
    word-wrap: break-word;
    word-break: break-all;
    text-align: justify;
    color: #4a4a4a;
    font-size: .875em;
    line-height: 2;
    position: relative;
    margin-bottom: .75em;
    padding-top: .625em;
}

.valine-wrapper #valine.v .vlist .vh .vmeta .vat:hover {
    color: #3eaf7c;
    border-color: #3eaf7c;
}

.valine-wrapper #valine.v .vlist .vh .vmeta .vat {
    color: #555;
    margin-right: .3rem;
    background: rgba(27,31,35,.05);
    border-radius: .25rem;
    padding: 0 .4rem;
    border: 1px solid #eaecef;
}

.v .vlist .vcard .vh .vmeta .vat {
    font-size: .8125em;
    cursor: pointer;
    float: right;
}

.valine-wrapper #valine.v .vlist .vh .vmeta {
    margin-bottom: 1rem;
}

.v .vlist .vcard .vh {
   border-bottom: none !important;
}

.valine-wrapper #valine.v .vlist .vh .vcontent p .at {
    color: #1abc9c;
}

.v * {
    box-sizing: border-box;
    line-height: 2;
    color: #555;
    transition: all .3s ease;
}
